$Link: #3bda3b;

.Movies .Category {
  height: 100%;

  .Movie {
    height: 60vh;
    width: 95%;
    display: flex;
    margin: 3vh auto;
    transition: 1s ease-in;
    background: #fff;

    .img {
      height: 100%;
      width: 30%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      // margin-right: 10%;
      transition: 1s ease-in;
      cursor: pointer;
      box-shadow: 1px 8px 80px #c1c0c0;
    }

    .initialImg {
      height: 100%;
      width: 20%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin: 0 auto;
      transition: 1s ease-in;
      cursor: pointer;
      border-radius: 35px;
    }

    .desc {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: 1s ease-in;

      h2 {
        font-weight: 400;
        margin-bottom: 0.5vh;
      }

      h3 {
        font-weight: 300;
        width: 90%;
        margin: 2vh auto;

        span {
          font-weight: 400;
          text-align: center;
          width: 100%;
          display: flex;
          justify-content: center;

          img {
            height: 16px;
            margin-right: 0.35vw;
          }
        }
      }
      h5 {
        border: 1px solid $Link;
        padding: 2vh 3vw;
        border-radius: 35px;
        background: $Link;
        color: #fff;
        margin: 0;
        transform: translateY(2vh);

        &:hover {
          background: darken($Link, 10%);
          cursor: pointer;
        }
      }
    }
    .initialDesc {
      display: none;
      transition: 1s ease-in;
    }
  }
}

.Movies .initialCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .Movie {
    height: 60vh;
    width: 20%;
    display: flex;
    margin: 3vh 1vw;
    // transition: 1s ease-in;
    background: #fff;
    border-radius: 35px;

    .initialImg {
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin: 0 auto;
      transition: 1s ease-in;
      cursor: pointer;
      border-radius: 35px;
    }

    .initialDesc {
      display: none;
      transition: 1s ease-in;
    }
  }
}

@media screen and (max-width: 1170px) {
  .Movies .initialCategory .Movie {
    width: 30%;
  }
}

@media screen and (max-width: 992px) {
  .Movies .initialCategory .Movie {
    width: 40%;
  }
  .Movies .Category .Movie {
    flex-direction: column;
    width: 70%;
    height: 70vh;

    .img {
      width: 100%;
      height: 50%;
    }

    .desc {
      width: 100%;
    }

    .initialImg {
      background-position: center 1%;
    }
  }
}

@media screen and (max-width: 768px) {
  .Movies .initialCategory .Movie {
    width: 40%;
    height: 50vh;
    margin: 3vh 3vw;
  }

  .Movies .Category .Movie {
    height: 80vh;
  }
}

@media screen and (max-width: 600px) {
  .Movies .initialCategory .Movie {
    height: 30vh;
  }

  .Movies .Category .Movie {
    width: 80%;

    .desc {
      h2 {
        font-size: 1.1em;
      }
      h3 {
        font-size: 0.9em;
      }
      h5 {
        transform: translate(0);
        padding: 1vh 4vw;
      }
    }

    .img {
      background-position: center 1%;
    }
  }
}
