.Landing {
  height: 100%;

  .Landing_Content {
    padding-top: 6vh;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-left: 5vw;
  }

  a {
    color: #5c5b5b;
  }
}

.categorieImages {
  width: 95%;
  height: 40vh;
  display: flex;

  .img {
    width: 20%;
    margin: 0 0.5vw;
    height: 100%;
    background-size: cover;
    background-position: center center;
    box-shadow: 1px 8px 70px #c4e6ff;
    transition: 1s ease-in;

    .innerText {
      opacity: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &:hover {
        opacity: 1;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
        transition-duration: 0.7s;
      }

      h3 {
        margin: 0 auto;
        letter-spacing: 1.1px;
        text-align: center;
        width: 90%;
      }

      h4 {
        font-weight: 400;
        width: 90%;
      }

      .buttons {
        h5 {
          border: 1px solid #fff;
          line-height: 20px;
          padding: 1vh 4vw;
          color: #fff;
          cursor: pointer;

          &:hover {
            background: #fff;
            color: #000;
          }
        }

        a {
          width: 50%;
          text-decoration: none;
        }
      }
    }

    &:hover {
      background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }
  }
}

.Categories {
  height: 100%;

  h2 {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1170px) {
  .categorieImages {
    margin: 0 auto;
    flex-wrap: wrap;
    flex-grow: 1;

    .img {
      width: 30%;
      margin: 0.5vh 0.5vw;
    }
  }
  .Categories {
    height: 85vh;
  }
}

@media screen and (max-width: 992px) {
  .categorieImages {
    .img {
      .innerText {
        h4 {
          font-size: 12px;
          font-weight: 300;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .categorieImages {
    .img {
      width: 45%;
      margin: 1vh 1vw;

      .innerText h4 {
        font-size: 14px;
      }
      h3 {
        width: 90%;
        margin: 0 auto;
        font-size: 1em;
      }
    }
  }
  .Categories {
    height: 125vh;
  }

  .movieHero h1 {
    text-align: center;
    font-size: 3.5em;
  }
}

@media screen and (max-width: 600px) {
  .categorieImages {
    .img {
      width: 100%;
      margin: 1vh 1vw;

      .innerText h4 {
        font-size: 14px;
      }
      h3 {
        width: 90%;
        margin: 0 auto;
        font-size: 1em;
      }
    }
  }
  .Categories {
    height: 210vh;
  }
}
