.ShowCategorie {
  height: 100%;
  background: linear-gradient(rgb(0, 85, 255), rgb(0, 85, 255), #ea8200);

  .ShowCategories {
    padding-top: 15vh;
    padding-left: 5vw;

    h1 {
      font-weight: 300;
      color: #fff;
    }
  }
}

.Shows {
  height: 100%;
}

@media screen and (max-width: 1170px) {
  .Categories_ {
    height: 100%;
  }

  .Shows .InitialShowCategory .Show .initialImg {
    width: 40%;
  }
}

// @media screen and (max-width: 992px) {
//   .Shows .initialShowCategory .Show {
//     width: 40%;
//   }
//   .Shows .ShowCategory .Show .img {
//     width: 40%;
//   }
// }
